{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@screen": "./src/screens/index.ts",
          "@assets": "./assets/index.ts",
          "@components": "./components/index.ts",
          "@requstServer": "./constants/requstServer.ts"
        }
      }
    ]
  ]
}
