{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
         "@screen": "src/Screens/index",
         "@assets": "./assets/index",
         "@components": "./components/index",
         
        }
      }
    ]
  ]
}
